@import 'reset.css';

body {
    background-color: black;
}

.canvas {
    width: 100vw;
    height: 100vh;
}

label {
    color: white;
    font-size: 1.2em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}